body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
   
    
}
.container {
    height: 100vh;
    border-radius: 25px;
    margin: 25px;
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(142,142,142,1) 69%, rgba(180,179,179,1) 100%);

}
nav {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 4em;
}

button {
    background-color: white;
}
.buttons {
    width: 11em;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}


#login {
    color: white;
    margin-right: 10px;
    padding: 8px 7px;
    background-color: transparent;
    border: none;
}

#login:hover  {
    background-color: white;
    color: black;
    padding: 8px 7px; 
    border: 0.5px solid black;
    border-radius: 5px;
}

#sign-up  {
    word-spacing: 5px;
    background-color: white;
    color: black;
    padding: 8px 7px;
    border-radius: 5px;
    border: 0.5px solid black;
}

.background-img {
    background-image: url(assets/img/Signup\ background1.png);
    background-repeat: no-repeat;
    background-position: top left 50px;
}

.wrapper {
    height: 75vh;
    display: flex;
    justify-content: flex-end;
    align-items:  flex-start;
    margin-right: 25px;
   
}


.qoute {
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 35vw;
}

.quote p {
    font-size: 35px;
    color: white;
    margin-right: 15px;
    text-align: right;
}


.right > h3 {
    font-size: 79px;
    color: white;
    margin-right: 15px;
    text-align: end;
}

.button-index {
    text-align: end;
}



.button-index a , .button-form {
    padding: 15px 13vw;
    background-color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 3px;
    
}

.button-index a:hover{
    background: black;
    cursor: pointer;
    color: white !important;
}
footer {
    word-spacing: 5px;
    font-size: 15px;
    text-align: end;
    margin-right: 15px;
}

@media only screen and (max-width: 768px) {
    .container {
        height: 105vh;
        margin: 0px !important;

    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .background-img {
        background-position: center;
    }

    .wrapper {
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        background-size: cover;
    }
    .buttons {
        width: 100%;
    }
    .right {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .right h3 {
    font-size: 50px;
    text-align: center;
    }
    footer p {
        text-align:center;
    }

}
@media only screen and (max-width: 425px) {
    .container {
        height: 105vh;
        margin: 0px !important;

    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .background-img {
        background-position: center;
        background-size: cover;
    }

    .wrapper {
        background-size:inherit;
    }
    .buttons {
        width: 100%;
    }
    .right {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .quote p {
        font-size: 25px;
    };
    .right h3 {
    
    text-align: center;
    }
    footer p {
        text-align:center;
    }

}
@media only screen and (max-width: 375px) {
    .container {
        height: 105vh;
        margin: 0px !important;

    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    nav h1 {
    line-break: normal;;
    font-size: 10vw;
    }
    .background-img {

    background-position: center;
        background-size: cover;
    }
    
    .wrapper {
        background-size:inherit;
    }
    .buttons {
        width: 100%;
    }
    .right {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .quote p {
        font-size: 25px;
    };
    .right h3 {
    text-align: center;
    }
    footer p {
        text-align:center;
    }

}

/*sign up and login*/

.form-group {
    margin-top: 10px;
}


.errorMessage {
    color: red;
}

.display-none {
    display: none;
}

form  {
    display: flex;
    flex-direction: column;
}


.form-headline {
    text-align: start;
}
form input {
    border-radius: 5px;
    width: 100%;
    padding: 20px 5px;
    text-align: start;
}

form a,p {
    text-align: end;
    color: white;
}
form a:hover {
    color:blue;
}

form .button-index {
    margin-left: 0px;
}

